@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.headerHero {
  background-color: #00a8db;
}

.logo img {
  width: 50%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-top: 2rem;
}
nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.navBar {
  display: flex;
  gap: 2rem;
}

.navBar li a {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

select {
  background: none;
  border: none;
  color: #ffffff;
}
nav button {
  background: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}
.textSide {
  margin-left: 6rem;
}
.textSide h2 {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
}
.textSide p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  width: 60%;
}
.curve img {
  width: 20%;
}
.imageSide img {
  width: 100%;
}
.demo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.demo button {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: center;
  color: #00a8db;
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

.demo button:hover {
  color: #ffffff;
  background: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
}
nav button:hover {
  color: #005490;
  background: #ffffff;
}
.sponsors{
  width: 80%;
  margin: auto;
  display: flex;
  gap: 5rem;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sponsors img{
  width: 100%;
}

.post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.postImage img{
  width: 100%;
}
.postImage{
  width: 40%;
}
.postText {
  width: 45%;
}
.postText h3{
font-family: DM Sans;
font-size: 36px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0.30000001192092896px;
color: #034D82;
width: 85%;
}

.postText p{
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.30000001192092896px;
color: #90A3B4;
}

.postText a{
font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 20.83px;
color: #04AADD;
}

.iphone{
  position: absolute;
  width: 30%;
  /* z-index: -2; */
}

.arrow{
position: relative;
z-index: -2;
}
.arrow img{
  width: 100%;
}

.schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 6rem;
  gap: 4rem;
}

.scheduleText {
  width: 40%;
}

.scheduleText h3{
font-family: DM Sans;
font-size: 36px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0.30000001192092896px;
color:  #034D82;
width: 100%;
}

.scheduleText p{
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.30000001192092896px;
color: #90A3B4;
width: 100%;
}

.schedule li{
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 19.83px;
letter-spacing: 0.30000001192092896px;
/* text-align:left; */
color: #90A3B4;
margin-top: 1.5rem;

}



/* .features img{
  width: 35%;
} */

.scheduleText a{
width: 243px;
height: 21px;
top: 2410px;
left: 140px;
color: #04AADD;
}

.scheduleImage img{
width: 100%;
}

.scheduleImage{
  width: 60%;
}

.hashtag{
  background:  #EFFBFF;
  padding: 4rem;
  margin-top: 5rem;
}
.topHashtag{
  text-align: center;
}
.topHashtag h2{
font-family: DM Sans;
font-size: 36px;
font-weight: 700;
line-height: 52px;
color: #034D82;
}

.topHashtag p{
font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
color: #8EA9C1;
padding: 1 rem 0;
margin: auto;
width: 45%;
}
.cardWrap{
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 85%;
  margin: auto;
 height: 60vh;
}

.card{
  background: #ffffff;
  padding: 1rem 0.5rem 3rem 1rem;
  border-radius: 8px;
  height: 300px;
  width: 100%;
}

.card img{
  width: 30%;
}

.card:hover{
  background: blue;
  color: #ffffff;
  transform: scale(1.1);
  transition: 0.5s;
  border-radius: 8px;
}

.card h5{
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  /* color: #034D82; */
  padding: 1rem 0 ;
}
/* .card h5:hover{
  color: #ffffff;
} */

.card p{
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding-right: 1rem;
  /* color: #90A3B4; */
}

.growth {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.growthLeft h3{
  font-family: DM Sans;
font-size: 36px;
font-weight: 700;
line-height: 52px;
color: #034D82;
width: 80%;
}
.growthLeft p{
  font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
color: #90A3B4;

}
.growthText p{
  font-family: DM Sans;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 32px;
color: #90A3B4;
margin-left: 3rem;
margin-bottom: 1.5rem;
width: 72%;
}

.hart{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 3rem;
}
.hartName h5{
  font-family: DM Sans;
font-size: 20px;
font-weight: 700;
line-height: 34px;
color: #034D82;
}

.hartName p{
  font-family: DM Sans;
font-size: 15px;
font-weight: 400;
line-height: 28px;
color: #90A3B4;
}

.brand{
  display: flex;
  margin: auto;
  width: 85%;
  justify-content: space-between;
  gap: 1rem;
  /* background:linear-gradient(270.04deg, #01B8D9 0.05%, #24CEED 97.84%); */
  padding: 3rem;
  align-items: center;
  border-radius: 6px;
  background-image: url(/images/Mask\ Group.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
}

.brandLeft h3{
  font-family: DM Sans;
font-size: 32px;
font-weight: 700;
line-height: 44px;
color: #ffffff;
width: 55%;

}

.brandLeft p{
  font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 32px;
color: #ffffff;
padding: 1rem 0rem;
}
.customers{
  display: flex;
  margin: auto;
  gap: 1rem;
  align-items: center;
}
.customersRight p{
  font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 32px;
color: #ffffff;
padding: 1rem 0;
}

.brandRight{
  width: 20%;
}

.brandRight button{
 font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #00a8db;
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  width: 106%;
  margin: auto;
  }

  .brandRight button:hover{
    color: #ffffff;
    background: blue;
  }

  /* .footer-container{
    background-color:#081315;
    padding: 4rem;
  }

  .footer{
    display: flex;
    justify-content: center;
    
    width: 100%;
    margin: auto;
   
    color: #ffffff;
    height: 40vh;
    background-color:#081315;
    flex-wrap: wrap;
  }
  .footer-Heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;    
  }

  .footer-Heading img{
    width: 30%;
    height: auto;
    margin-bottom: 1rem;
  }

  .footer-Heading p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
text-align: left;
width: 70%;
color: #D3D6D8;
}
.social {
  display: flex;
  
  height: 10vh;
  width: 70%;
  gap: 0.5rem;
  
}

  .footer-Heading h3{
    margin-bottom: 2rem;
  }

  .footer-Heading a{
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 20.83px;
text-decoration: none;
color: #D3D6D8;
margin-bottom: 0.5rem;
 }
 .footer-Heading a:hover{
   color: #0d722b;
   transition: 0.3s ease-out;
 }

 .Copyright{
 margin: auto;
 text-align: center;
 }

 .Copyright h2{
  font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 20.83px;
text-align: center;
color: #FFFFFF;

 } */

 footer{
  background:#081315;
  width: 100%;
  padding: 3rem 0;
 }

 .footLogo img{
  width: 20%;
 }
.footWrap {
display: flex;
width: 85%;
margin: auto;
}

.footRight {
  display: flex;
  gap: 4rem;
  width: 60%;
  
}
.footLeft{
  width: 30%;
}
li{
  /* list-style-type: none; */
  font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 20.83px;
color: #D3D6D8;
margin-bottom: 1rem;

}
.footRight h4{
  margin-bottom: 1.5rem;
  font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: 23.44px;
color: #ffffff;
}

.footLeft p{
  font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 28px;
color: #D3D6D8;
padding: 1rem 0;
width: 68%;
}

.copyright {
  text-align: center;
  margin-top: 4rem;
}

.copyright p {
  font-family: DM Sans;
font-size: 16px;
font-weight: 700;
line-height: 20.83px;
color: #ffffff;
margin-top: 1rem;
}

.socials img{
  width: 15%;
}

.copyright img{
  width: 5%
}




@media ( max-width: 1024px){
 
  .textSide h2 {
  font-size: 44px;
  width: 100%;
}
.textSide p {
  width: 85%;
  padding: 1rem 0;
}
.curve img {
  width: 25%;
}
.demo button {
  font-size: 16px;
    width: 55%;
}
.demo{
  margin-bottom: 3rem;
}
.textSide{
width: 50%;
}
.imageSide{
  width: 50%;
}
.iphone{
  width: 35%;
}

.postText {
  width: 50%;
}
.postText h3{
width: 100%;
}


.scheduleText h3{
font-size: 28px;
}

.scheduleText p{
font-size: 13px;
width: 105%;
}

.schedule li{
font-size: 13px;
margin-top: 1rem;
}

.scheduleImage{
width: 85vh;
}
  
  .topHashtag p{
  font-size: 14px;
  width: 55%;
  margin-top: 1.5rem;
 }

.cardWrap{
gap: 1rem;
height: 70vh;
}

.card{
height: 330px;
}
.card h5{
  font-size: 16px;
}

.card p{
  font-size: 14px;
}

.growthLeft h3{
font-size: 26px;
width: 90%;
}

.growthLeft p{
  font-size: 16px;
  width: 90%;
}
.growthRight{
  margin-left: 4rem;
  width: 100%;
}
.growthText p{
font-size: 16px;
width: 90%;
}

.hartName h5{
font-size: 20px;
}

.hartName p{
font-size: 15px;
}

.brandRight button{
font-size: 12px;
width: 110%;
 }

 li{
font-size: 11px;
}

.footRight h4{
font-size: 15px;
}

.footLeft p{
font-size: 13px}

.copyright p {
font-size: 13px;
}

}

@media screen and ( max-width: 768px){

nav {
  width: 100%;
}

.navBar{
  margin-bottom: -1rem;
}
.logo{
  width: 30%;
}

.textSide{
  margin-left: 4rem;
}
.textSide h2 {
  font-size: 34px;
  width: 100%;
}
.textSide p {
  font-size: 13px;
}

.demo button {
  font-size: 14px;
  width: 100%;
  padding: 0.7rem 1rem;
}
.postText h3{
  font-size: 28px;
  line-height: 40px;
  width: 100%;
  }

  .postText p{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding: 1rem 0rem;
    }

/* dhhdjhdhdhi */

.scheduleText h3{
font-size: 20px;
line-height: 36px;
width: 100%;
  }
  
  .scheduleText p{
  font-size: 13px;
  line-height: 26px;
  width: 100%;
  }
  
  .schedule li{
  font-size: 13px;
  margin-top: 0.5rem;
  }
  
  .scheduleImage{
  width: 50%;
  }
  /* fuheiuhfijei */


    .topHashtag h2{
      font-size: 28px;
      line-height: 52px;
      }
      
      .topHashtag p{
      font-size: 14px;
      width: 65%;
     }

     .cardWrap{
     gap: 1rem;
     height: 80vh;
    }
    
    .card{
      padding: 1rem;
    }

    .card h5{
      font-size: 16px;
      line-height: 24px;
    }
    
    .card p{
  font-size: 13px;
    }

.card img{
  width: 40%;
}

/* eyeejejdjdj */

.growthLeft h3{
  font-size: 24px;
  line-height: 45px;
  width: 100%;
  }
  
  .growthLeft p{
    font-size: 12px;
    width: 115%;
    line-height: 35px;
    margin-top: 1.5rem;
  }

  .rightImages{
    gap: 1rem;
    width: 60%;    
  }
  /* .growthRight{
    margin-left: 1rem;
    width: 100%;
  } */
  .growthText p{
  font-size: 11px;
  /* width: 100%; */
  line-height: 25px;
  }
  
  .hart{
    margin-top: -2rem;
    gap:0.5rem;
  }
  .hartName h5{
  font-size: 15px;
  }
  
  .hartName p{
  font-size: 9.5px;
  width: 100%;
  }

  .brandLeft h3{
  font-size: 30px;
  line-height: 39px;
  width: 60%;
  }

  .brandRight{ 
    width: 41%;
  }
  
  .brandRight button{
  font-size: 12px;
  width: 110%;
  font-size: 12px;
   }


.footRight {
  gap: 2rem;
  width: 70%;  
}

li{
font-size: 12px;
}

.footRight h4{
font-size: 14px;
}

.copyright p {
font-size: 12px;
}

 }



    @media (max-width: 425px){

.logo img {
  width: 100%;
}
 nav{
  display: none;
 }

 .hero {
  /* display: block; */
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-top: 4rem;
}
.textSide {
  margin-left: 0rem;
  width: 100%;
}

.imageSide{
  width: 100%;
}

.sponsors{
  width: 30%;
  margin: 3rem auto;
  display: block;
 /* margin-top: 3rem;
 margin-bottom: 3rem; */
 }

.sponsors img{
  padding-bottom: 2rem;
}

.post{
  flex-direction: column;
  width: 85%;
  margin: auto;
}


.postImage{
  width: 100%;
}
.postText {
  width: 100%;
}

.iphone{
  width: 80%;}


.postText h3{
font-size: 36px;
font-weight: 700;
line-height: 55px;
width: 100%;
}

.postText p{
font-size: 14px;
font-weight: 400;
line-height: 32px;
}



.schedule{
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-top: 1.5rem;
}

.scheduleText h3{
  font-size: 30px;
  line-height:48px;
  width: 100%;
  }

.scheduleText {
  width: 100%;
}


.scheduleText p{
font-size: 12px;
}

.scheduleImage{
  width: 100%;
}


.topHashtag p{
  font-size: 14px;
  width: 100%;
  margin-bottom: 2rem;
  }

  .cardWrap{
    flex-direction: column;
    width: 85%;
   height: 60%;
  }
  
  .card{
    height: 250px;
    width: 100%;
  }
  .card:hover{
    transform: scale(1);
    transition: 0.5s;
    border-radius: 8px;
  }
.card img{
width: 20%;
padding-left: 1rem;
}

card h5{
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  padding: 1rem ;
}


.card p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding:0 1rem;
}

.growth {
  flex-direction: column;
}

.growthLeft{
  margin-bottom: 2rem;
}

.growthLeft h3{
font-size: 30px;
width: 100%;
}

.growthLeft p{
font-size: 14px;
font-weight: 400;
line-height: 26px;
}

.growthText p{
font-size: 14px;
width: 70%;
}

.hart{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 3rem;
  margin-top: 0.5rem;
}

.hartImage {
  width: 20%;
}

.hartName{
  width: 65%;
}

.brand{
 flex-direction: column;
  margin: auto;
  width: 85%;
  padding: 3rem;
  margin-bottom: 5rem;
}

.brandLeft h3{
font-size: 28px;
font-weight: 700;
line-height: 44px;
width: 85%;

}

.brandLeft p{
  font-family: DM Sans;
font-size: 14px;
font-weight: 500;
line-height: 32px;
color: #ffffff;
padding: 1rem 0rem;
}

.customers{
 margin: 2rem 0;
}

.brandRight{
width: 60%;
}

.brandRight button{
  font-size: 12px;
  width: 100%;
  font-size: 10px;
   }



 .footLogo img{
  width: 20%;
 }
.footWrap {
flex-direction: column;
width: 85%;
}

.footRight {
  flex-direction: column;
  width: 100%;
  
}
.footLeft{
  width: 100%;
}

li{
font-size: 16px;
font-weight: 400;
}

.footRight h4{  
font-size: 18px;
}

.footLeft p{
font-size: 16px;
width: 80%;
}

.copyright {
  text-align: center;
  margin-top: 4rem;
}

.copyright p {
font-size: 16px;
}

    }


    @media (max-width: 375px) {
      
   
      
      .iphone{
        width: 75%;}
      
      
      .postText h3{
      font-size: 30px;
      line-height: 50px;
      }
      
      .postText p{
      font-size: 12px;
      line-height: 28px;
      }
      
      .topHashtag h2{
        font-size: 24px;
        line-height: 30px;
        width: 100%;
      }
      .topHashtag p{
        font-size: 12px;
        width: 100%;
        margin-bottom: 2rem;
        }
      
       
        
        .card{
          height: 270px;
          width: 100%;
        }
        
        
      .card img{
      width: 26%;
      padding-left: 1rem;
      }  
      
      .card h5{
        font-size: 18px;
        line-height: 34px;
        padding: 1rem ;
      }
      
      .card p{
        font-size: 12px;
        line-height: 27px;
        padding:0 1rem;
      }
      
      
      
      
      .growthLeft p{
      font-size: 12px;
      }

     
      
      .growthText p{
      width: 70%;
      font-size: 10px;
      }
     
      
        
      
      .growthRight{
        margin-left: 2.5rem;
        width: 100%;
      }
      

      .hart{
        width: 100%;
      }
      .hartImage {
        width: 20%;
      }
      
      .hartName{
        width: 65%;
      }
      .hartName p{
        width: 80%;
        line-height: 20px;
      }
      
     
      
      .brandLeft h3{
      font-size: 24px;
      
      line-height: 34px;
      width: 100%;
      
      }
      
      .brandLeft p{
      font-size: 12px;      
      line-height: 26px;
      margin-top: -0.5rem;
      }
      
      .customers{
       margin: 0.5rem 0;
      }
      
      .brandRight{
      width: 60%;
      }
      
      .brandRight button{
        font-size: 12px;
        width: 100%;
        font-size: 10px;
         }
      
      
      
       .footLogo img{
        width: 20%;
       }
      .footWrap {
      flex-direction: column;
      width: 85%;
      }
      
      .footRight {
        flex-direction: column;
        width: 100%;
        
      }
      .footLeft{
        width: 100%;
      }
      
      li{
      font-size: 16px;
      font-weight: 400;
      }
      
      .footRight h4{  
      font-size: 18px;
      }
      
      .footLeft p{
      font-size: 16px;
      width: 80%;
      }
      
      .copyright {
        text-align: center;
        margin-top: 4rem;
      }
      
      .copyright p {
      font-size: 16px;
      }
    

    }


    @media (max-width: 320px) {

    .textSide h2 {
      font-size: 24px;
    }

    .demo button {
      font-size: 10px;
    }

    .demo p{
      font-size:x-small;
    }
   

    .postText h3{
      font-size: 22px;
      line-height: 40px;
      }

      .scheduleText h3{
        font-size: 22px;
        line-height:40px;
        }


        .topHashtag h2{
          font-size: 22px;
          line-height: 36px;
          }

          .card{
            height: 320px;
            width: 100%;
          }
          
          
        .card img{
        width: 38%;
        }
        
        card h5{
          font-size: 18px;
          line-height: 34px;
          
        }
        
        .card p{
          font-size: 12px;
          line-height: 24px;
      
        }
        .growthLeft h3{
          font-size: 24px;
          line-height:40px;
          }
          
          .growthLeft p{
          font-size: 10px;
          }
                         
            .growthRight{
              margin-left: 1rem;
              width: 100%;
            }
            .rightImages{
              gap: 1rem;
              width: 100%;    
            }

            .growthText p{
              font-size: 10px;
              width: 70%;
             }

             .brandLeft h3{
              font-size: 22px;
              line-height: 32px;
               }
              .customersLeft img {
                width: 90%;
              }
              .customers{
               gap: 0rem;
               margin: 0;
               padding: 0;
               width: auto;
              }

              .customersRight p{
              font-size: 10px;
              width: 100%;
              margin-right: 4rem;
              }

              .brandRight{
                width: 80%;
                }
                
                
                li{
                  font-size: 13px;
                     }
                  
                  .footRight h4{  
                  font-size: 16px;
                  }
                  
                  .footLeft p{
                  font-size: 13px;
                  }
                  
                  .copyright {
                    margin-top: 2rem;
                  }
                  
                  .copyright p {
                  font-size: 12px;
                  }




        }